root = true

[*.py]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.toml]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.yaml]
indent_size = 4
indent_style = space
