### Python ###
__pycache__/
*.py[cod]
# pytest
.pytest_cache/
# mypy
.mypy_cache/
# tox
.tox/
# build
*.egg-info

### Editors ###
# Visual Studio Code
.vscode/*
!.vscode/settings.json

### Project
# building
dist/
# virtual environments
.venv/
